.section6-card-container {
  align-self: stretch;
  justify-self: stretch;
  z-index: 0;
  display: flex;
  width: 600px;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-style: none;
  box-shadow: inset 0 1px 3px 0 hsla(0, 0%, 100%, 0.36);
  border-width: 1px;
  border-color: #fff;
  border-radius: 32px;
  background-image: linear-gradient(135deg, #12171c, #0a0d10);
  padding: 2rem;

  margin: 40px 20px;
}

.feature-img-wrapper {
  position: relative;
  top: -70px;
  display: flex;
  overflow: visible;
  -webkit-box-pack: center;
  justify-content: center;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}

.feature-description {
  text-align: start;
}

@media only screen and (max-width: 600px) {
  .section6-card-container {
    display: flex;
    width: 290px;
    /* height: fit-content; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
    box-shadow: inset 0 1px 3px 0 hsla(0, 0%, 100%, 0.36);
    border-width: 1px;
    border-color: #fff;
    border-radius: 32px;
    background-image: linear-gradient(135deg, #12171c, #0a0d10);
    margin-bottom: 10px;
  }

  .feature-img-wrapper {
    width: 320px;
    position: relative;
    top: -60px;
    display: flex;
    overflow: visible;
    -webkit-box-pack: center;
    justify-content: center;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .section6-img{
    width: 300px;
  }
  
  .feature-description {
    text-align: start;
  }

  .feature-content-wrap{
    
  }
}
