body{
    background-color: black;
    color: white;

}

.dashboard-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Space Grotesk', sans-serif;
}

