.grid-template-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1500px;

  margin: auto;
  justify-content: center;
}

/* .global-padding {
  padding-right: 16rem;
  padding-left: 16rem;
} */

.feature-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1500px;
  /* margin-top: 40px; */
  margin: auto;
}

.feature-card {
  display: flex;
  width: 400px;
  height: 50px;
  margin: 10px;
  padding: 2rem 0.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #10151a;

}

.feature-card-inner-wrapper{
  display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;flex-direction: column;
-webkit-box-align: start;align-items: flex-start;align-self: center;
}

.bonus-button{
  margin-bottom: 0.35rem;
padding: 0.35rem;
border-radius: 12px;
background-color: #00f0ff;
box-shadow: inset 1px 1px 2px 0 hsla(0, 0%, 100%, 0.15), inset -1px -1px 2px 0 hsla(0, 0%, 100%, 0.7);
color: #00474b;
font-weight: 700;
}

.grid-area-1 {
  grid-area: 1;
}
